* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@keyframes flutuar {
    from {top: -20px;}
    to {top: 20px; }
  }

@keyframes mudaCor {
    from {background-color: #211e3b;}
    to {background-color: #171529;}
}

@keyframes fadeInImage {
    from {
        opacity: 0;
        left: 20px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        right: 20px;
    }
    to {
        opacity: 1;
        right: 0;
    }
}

@keyframes fadeTabs {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@keyframes background {
	0% {
		transform: translateY(100vh) scale(0);
	}
	100% {
		transform: translateY(-10vh) scale(1);
	}
}

h1 {
    font-size: 78px
}

header {
    width: 100%;
    background-color: #211e3b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    border-bottom: 3px solid #171529;
    z-index: 1;
}

header ul {
    list-style: none;
    display: flex;
    font-weight: bold;
}

header li {
    padding: 25px;
}

header li:hover {
    animation: mudaCor 1s forwards;
    cursor: pointer
}

.bubbles {
	display: flex;
}

.bubbles span {
	position: relative;
	width: 25px;
	height: 25px;
	background-color: #523661;
	margin: 0 4px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #52366144,
	0 0 50px #523661,
	0 0 100px #523661;
	animation: background 15s linear infinite;
	animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
	background-color: #2D4361;
	box-shadow: 0 0 0 10px #2D436144,
	0 0 50px #2D4361,
	0 0 100px #2D4361;
}

#inicio {
    height: 100vh;
    width: 100%;
    background-color: #171529;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tituloBox {
    width: 25%;
    position: relative;
    animation: fadeInText 1s;
}

.tituloBox p {
    text-align: center;
    font-size: x-large;
    width: 100%;
    background-color: #211e3b;
    padding: 15px 0;
    margin-top: 10px;
    border-radius: 50px;
}

.tituloBox p:hover {
    background-color: #1D1A33;
    color: #E6E6E6;
    cursor: pointer
}

a {
    text-decoration: none;
}

.imageFlavio {
    width: 19%;
    border-radius: 50%;
    position: relative;
    animation: fadeInImage 1s;
}

#sobre {
    height: 100vh;
    width: 100%;
    background-color: #211e3b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#sobre div p{
    font-size: 20px;
    width: 50%;
}

.conteudoSobre {
    display: flex;
    justify-content: center;
}

.conteudoSobre img {
    overflow-x: hidden;
}

#projeto {
    height: 100vh;
    width: 100%;
    background-color: #171529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projeto p{
    position: relative;
    top: 3%;
}

/*Aba dos projetos*/

.projetos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4% 10%;
    margin: 10px;
}

.projeto {
    width: 30%;
    height: 200px;
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #211e3b;
    font-weight: bold;
}

.projetos img {
    width: 30%;
    height: 200px;
    margin: 25px 10px;
}

.emBreve {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171529;
    width: 90%;
    height: 30%;
    position: relative;
    animation: flutuar 1.5s infinite alternate;
}

.imageProjeto {
    width: 100%;
    max-height: 100%;
}

/* Fim das abas dos Projetos */

#conhecimentos {
    height: 100vh;
    width: 100%;
    background-color: #211e3b;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.tab {
    background-color: #211e3b;
    
  }

.tab button {
    border: 3px solid #171529;
    background-color: inherit;
    float: left;
    cursor: pointer;
    padding: 30px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover, .tab button.active {
    background-color: #171529;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 500px;
    font-size: 20px;
    animation: fadeTabs 1s;
  }